body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}
.profile-card {
  display: flex;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 550px;
  width: 100%;
}
.left-card {
  background-color: #1a2473;
  padding: 30px;
  text-align: center;
  color: white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid yellow;
  margin-bottom: 15px;
}
.right-card {
  padding: 30px;
}
h1 {
  margin: 10px;
}
.job {
  font-size: 18px;
}
.company {
  color: rgb(255, 204, 0);
  font-weight: bolder;
}
.bio {
  color: #616161;
  margin-bottom: 15px;
}
.address {
  color: #616161;
  margin-top: 15px;
  font-size: 18px;
}
.social {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.social a {
  color: #616161;
  font-size: 25px;
}
.social a:hover {
  color: rgb(85, 85, 254);
  font-size: 25px;
}
.skills {
  display: flex;
  margin-bottom: 20px;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}
.skill {
  background-color: rgb(205, 206, 207);
  border-radius: 20px;
  padding: 5px 10px;
  color: #1a2473;
}
.btn {
  background-color: rgb(247, 65, 65);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}
.btn:hover {
  background-color: rgb(140, 22, 250);
}
